%h2= "FEATURED RELEASE"

<iframe style="border: 0; width: 350px; height: 470px;" src="https://bandcamp.com/EmbeddedPlayer/album=3527856760/size=large/bgcol=333333/linkcol=9a64ff/tracklist=false/transparent=true/" seamless><a href="https://xeraen.bandcamp.com/album/xordium">XORDIUM by ＸＥＲＡＥＮ</a></iframe>

%br
%h2= "OTHER RECENT RELEASES"
%br

%a{href: "https://xeraen.bandcamp.com/track/dogs-can-grow-beards-all-over-chipcore-version", target: "_blank"}
  = image_tag("xeraen/release_covers/dogs_can_grow_beards_all_over.jpg")
%a{href: "https://xeraen.bandcamp.com/track/dream-surprise-chipcore-version-feat-ashlinn", target: "_blank"}
  = image_tag("xeraen/release_covers/dream_surprise.jpg")

%br

%a{href: "https://xeraen.bandcamp.com/track/birdo", target: "_blank"}
  = image_tag("xeraen/release_covers/birdo.jpg")
%a{href: "https://xeraen.bandcamp.com/track/our-city", target: "_blank"}
  = image_tag("xeraen/release_covers/our_city.jpg")
