!!!
%html{lang: "en-US"}
%head
  %title= "hackr.tv"
  %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css", integrity: "sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls", crossorigin: "anonymous"}
  %link{rel: "stylesheet", href: "/assets/css/style.css"}
  %link{rel: "preconnect", href: "https://fonts.googleapis.com"}
  %link{rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: "crossorigin"}
  /%link{href: "https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap", rel: "stylesheet"}
  %link{href: "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap", rel: "stylesheet"}
  %meta{name: "viewport", content: "width=device-width, initial-scale=1"}

  %body
    #content.pure-g
      .pure-u-1
        %a#header-link{href: "/"}
          %pre#greetings{style: "font-size: 9px;"}
      .pure-u-1 &nbsp;
      .pure-u-1
        .menu.pure-u-1
          %a.green.pure-button{href: "/songs"}= "Songs"
          span |
          %a.green.pure-button{href: "https://www.youtube.com/watch?v=YgD4oNPpGv4&list=PLLRgY_tjdreyU4_WtrQnkZ6D8ur41GrpC", target: "_blank"}= "Livestreams"
          span |
          %a.green.pure-button{href: "https://www.youtube.com/TheCyberPulse/videos", target: "_blank"}= "Videos"
        .pure-u-1 &nbsp;
        .menu.pure-u-1
          %a.green.pure-button{href: "/friends"}= "Friends"
          span |
          %a.green.pure-button{href: "https://youtube.com/TheCyberPulse", target: "_blank"}= "YouTube"
          span |
          %a.green.pure-button{href: "https://x.com/TheCyberPulse", target: "_blank"}= "X.com"
        .pure-u-1 &nbsp;
        %hr
